body {
    background-color: var(--background-white);
    color: var(--color-black);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[data-bs-theme=dark] body {
    background-color: var(--background-black);
    color: var(--color-white);
}

h1 {
    margin: 1em 0;
    text-align: center;
}

.content {
    margin: 0 20px 50px;
    display: flex;
    flex-direction: column;
}

.huge {
    font-size: 5em;
}

.big {
    font-size: 2em;
}
